html,body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
#top-bar{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #616161;
    position: fixed;
    z-index: 500;
}

.app-name{
    margin: 0;
    padding: 0;
    display: inline-block;
    color:white;
    font-size: 30px;
    font-family: "Montserrat";
}

#app-name-manager{
    color: #00aff0;
}

.app-name-wrapper{
    padding: 10px;
    display: inline-block;
}

#sidenav-button{
    margin: 0;
    padding: 0;
    font-size: 28px;
    color: white;
    margin-left: 20px;
    cursor: pointer;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#first-page{
    width: 100%;
    background-attachment: fixed;
    background-color: white;
    z-index: 50;
    position: absolute;
}

#first-page-text-wrapper{
    position: fixed;
    width: 50%;
    display: inline-block;
    padding: 50px;
}

.first-page-heading
{
    font-size: 50px;
    margin: 52px 0;
    color: black;
}

.first-page-text
{
  font-size: 20px; 
  margin-bottom: 25%;
    
}

.first-page-screenshot{
    
    left:63%;
    display: inline-block;
    width: 20%;
    float: right;
    position: fixed;
    top:100px;
/*    margin-top: -50px;*/
}

#second-page{
    position: absolute;
    top: 100%;
    background-color: #111;
    z-index:60;
}

#second-page-text-wrapper{
    position: relative;
    width: 50%;
    display: inline-block;
    padding: 50px;
}

.second-page-heading{
    font-size: 50px;
    margin: 0px 0px 52px 0px;
    color: white;
}

.second-page-text{
  font-size: 20px; 
  margin-bottom: 33%;
    color: white;
}
.second-page-screenshot{
    left: 63%;
    display: inline-block;
    width: 20%;
    float: right;
    position: absolute;
    top: 40px;
}

@media only screen and (max-width:1024px){

    .first-page-heading{
        font-size: 40px;
        margin-bottom: 10px;
    }
    
    .second-page-heading{
        font-size: 40px;
        margin-bottom: 10px;
    }
    
}

@media only screen and (max-width:768px){
    
    .first-page-heading{
        font-size: 30px;
    }
    .first-page-text{
        font-size: 17px;
    }
    .first-page-screenshot{
        width: 28%;
        left: 60%;
    }
    
    .second-page-heading{
        font-size: 30px;
    }
    .second-page-text{
        font-size: 17px;
    }
    .second-page-screenshot{
        width: 28%;
        left: 60%;
    }
    
}

@media only screen and (max-width:500px){
    
    #first-page-text-wrapper{
        padding: 20px;
        width: 50%;
    }
    
    .first-page-heading{
        font-size: 20px;
        margin:70px 0 10px 0;
    }
    
    .first-page-text{
        font-size:15px;  
    }
    
    .first-page-screenshot{
        width: 45%;
        top:20%;
        left: 50%;
    }
    
    #second-page-text-wrapper{
        padding: 20px;
        width: 50%;
    }
    
    .second-page-heading{
        font-size:20px;
        margin:10px 0 10px 0;
    }
    
    .second-page-text{
        font-size: 15px;
    }
    
    .second-page-screenshot{
        position: absolute;
        top: 10%;
        width: 45%;
        left: 50%;
    }
    
}


/*

#first-page{
    width: 100%;
    background-color: white;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.first-page-feature-heading{
    font-size: 60px;
    margin: 100px;
}

.first-page-feature-text{
    font-size: 20px;
    margin: -50px 100px 70px;
}

.first-page-feature-screenshot{
    width: 45%;
    position: fixed;
    z-index: 50;
}

#second-page{
    position: absolute;
    z-index: 500;
    width: 100%;
    background-color: #111;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.second-page-feature-heading{
    font-size: 60px;
    margin: 100px;
    color: white;
}

.second-page-feature-text{
    font-size: 20px;
    margin: -50px 100px 70px;
    color: white;
}

.second-page-feature-screenshot{
    width: 90%;
    position: absolute;
    z-index: 100;
}*/
